# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# IDE
.vscode/
.idea/

# Python cache
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Coverage
.coverage
htmlcov/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# SQLite
*.db

# Uploads
backend/uploads/

# Flutter
frontend/build/
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.packages

# Android
frontend/android/.gradle/
frontend/android/local.properties

# iOS
frontend/ios/Pods/